.main {
  /* btn/blog menu category/header */

  position: absolute;
  width: 1920px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.lskin {
  /* Bloom Beauty */

  position: absolute;
  width: 168px;
  height: 25px;
  left: 352px;
  top: 27px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  /* identical to box height, or 104% */

  /* pink */
  color: #f5a3b7;
}
.header_flow{
   

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 40px;

position: absolute;
left: 35.86%;
right: 35.86%;
top: 34.38%;
bottom: 35.62%;


}
.header_flow
