/* Bloom Beauty */

position: absolute;
width: 168px;
height: 25px;
left: 352px;
top: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 25px;
/* identical to box height, or 104% */

/* pink */
color: #F5A3B7;

